@import "abstracts/variables";

* {
	margin: 0;
	padding: 0;
	// display: block;
	// box-sizing: border-box;
}
html {
	font-size: 2.5vh;
}
body {
	font-family: "Indie Flower", "Pacifico", "Shadows Into Light", cursive;
	text-align: center;
	font-size: 1rem;
	hr {
		margin: auto;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		border-style: none;
		border-top-style: dotted;
		border-width: 5px;
		width: 20%;
		border-color: $color-primary-light;
	}
	p {
		margin: 1rem 0;
	}
	h1 {
		font-size: 4rem;
		color: $color-primary-dark-1;
	}
	h2 {
		color: $color-primary-dark-2;
		font-size: 2.5rem; //40px
	}
	h3 {
		color: $color-primary-dark-3;
	}
}

.upper-container {
	background-color: $color-primary-light;
	text-align: center;
	position: relative;
	width: 100%;
	display: inline-block;
	h1 {
		font-family: "Pacifico", "Shadows Into Light", cursive;
	}
	& > .environment-img {
		width: 100%;
	}
	.text {
		font-weight: normal;
		color: $color-primary-dark-2;
		display: inline-block;
	}
	.cloud-1 {
		display: none;
		position: absolute;
		top: 0;
		left: 5rem;
		width: 25%;
	}
	.cloud-2 {
		position: absolute;
		top: 7%;
		left: 17%;
		width: 25%;
	}
	.cloud-3 {
		position: absolute;
		top: 0;
		right: 15%;
		width: 25%;
	}

}

.middle-container {
	display: block;
	font-family: sans-serif;
	// & > .profile > img {
	img {
		width: 10rem;
		height: 10rem;
	}
	.skills {
		margin-top: 1rem;
		p {
			line-height: 2;
		}
		h2 {
			margin: 1rem;
		}
	}
	.middle-container__profile {
		width: 50%;
		margin: auto;
	}
	.skill-row {
		text-align: left;
		display: inline-block;
		width: 50%;
		.skills__text {
			display: block;
			margin: 0.9rem;
		}

		.skills__img--left {
			float: left;
		}
		.skills__img--right {
			float: right;
		}
		&:not(:last-child) {
			margin-bottom: 5rem;
		}
	}
	.middle-container__contact-me {
		width: 50%;
		display: inline-block;
		margin-bottom: 4rem;
		h2,
		h3,
		p {
			margin-top: 2rem;
		}
		p {
			margin-bottom: 3rem;
		}
		.middle-container__btn {
			text-decoration: none;
			color: $color-white;
			background-image: linear-gradient($color-primary-dark-1,$color-primary-dark-3);
			padding: 0.5rem 1rem;
			border-radius: 6px;
			margin: 1000px 0;
			&:hover{
				background-image:  linear-gradient(lighten($color-primary-dark-1,10%),lighten($color-primary-dark-3,10%)) ;
			}
		}
	}
}

.bottom-container {
	padding: 3rem 0;
	background-color: $color-primary-dark-2;
	width: 100%;
	p {
		margin-top: 2rem;
        margin-bottom: 0;
        color: $color-white;
	}
	.bottom-container__footer-link {
		text-decoration: none;
		color: $color-primary-dark-3;
		padding: 0.5rem 1rem;
		border-radius: 6px;
		margin: 1000px 0;
		&:hover{	
			color: $color-white;
		}
	}
}
