@import "abstracts/variables";

* {
	margin: 0;
    padding: 0;
    // display: block;
    // box-sizing: border-box;
    
}
html{
    font-size: 100%;
    
}
body{
    font-family: 'Indie Flower','Pacifico','Shadows Into Light', cursive;
    text-align: center;
}

h1{
}
.upper-container {
    background-color: $color-primary-light;
    text-align: center;
    padding-top: 10%;
    position: relative;
    width: 100%;
    & > .environment-img{
        width: 100%;
    }
}

.cloud-1{
    display: none;
    position: absolute;
    top: 0;   
    left: 5rem;
    width: 25%;
}
.cloud-2{
    position: absolute;
    top: 7%;   
    left: 17%;
    width: 25%;
}
.cloud-3{
    position: absolute;
    top: 0;   
    right: 15%;
    width: 25%;
}
.middle-container {
    display: inline-block;
}

.bottom-container {
    display: block;
}
