* {
  margin: 0;
  padding: 0; }

html {
  font-size: 2.5vh; }

body {
  font-family: "Indie Flower", "Pacifico", "Shadows Into Light", cursive;
  text-align: center;
  font-size: 1rem; }
  body hr {
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 20%;
    border-color: #fac0a9; }
  body p {
    margin: 1rem 0; }
  body h1 {
    font-size: 4rem;
    color: #f67280; }
  body h2 {
    color: #c06c84;
    font-size: 2.5rem; }
  body h3 {
    color: #6c567b; }

.upper-container {
  background-color: #fac0a9;
  text-align: center;
  padding-top: 10%;
  position: relative;
  width: 100%; }
  .upper-container h1 {
    font-family: "Pacifico", "Shadows Into Light", cursive; }
  .upper-container > .environment-img {
    width: 100%; }
  .upper-container .text {
    font-weight: normal;
    color: #c06c84; }
  .upper-container .cloud-1 {
    display: none;
    position: absolute;
    top: 0;
    left: 5rem;
    width: 25%; }
  .upper-container .cloud-2 {
    position: absolute;
    top: 7%;
    left: 17%;
    width: 25%; }
  .upper-container .cloud-3 {
    position: absolute;
    top: 0;
    right: 15%;
    width: 25%; }

.middle-container {
  display: block;
  font-family: sans-serif; }
  .middle-container img {
    width: 10rem;
    height: 10rem; }
  .middle-container .skills {
    margin-top: 1rem; }
    .middle-container .skills p {
      line-height: 2; }
    .middle-container .skills h2 {
      margin: 1rem; }
  .middle-container .middle-container__profile {
    width: 50%;
    margin: auto; }
  .middle-container .skill-row {
    text-align: left;
    display: inline-block;
    width: 50%; }
    .middle-container .skill-row .skills__text {
      display: block;
      margin: 0.9rem; }
    .middle-container .skill-row .skills__img--left {
      float: left; }
    .middle-container .skill-row .skills__img--right {
      float: right; }
    .middle-container .skill-row:not(:last-child) {
      margin-bottom: 5rem; }
  .middle-container .middle-container__contact-me {
    width: 50%;
    display: inline-block;
    margin-bottom: 4rem; }
    .middle-container .middle-container__contact-me h2,
    .middle-container .middle-container__contact-me h3,
    .middle-container .middle-container__contact-me p {
      margin-top: 2rem; }
    .middle-container .middle-container__contact-me p {
      margin-bottom: 3rem; }
    .middle-container .middle-container__contact-me .middle-container__btn {
      text-decoration: none;
      color: #fff;
      background-color: #6c567b;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      margin: 1000px 0; }

.bottom-container {
  padding: 3rem 0;
  background-color: #c06c84;
  width: 100%; }
  .bottom-container p {
    margin-top: 2rem;
    margin-bottom: 0;
    color: #fff; }
  .bottom-container .bottom-container__footer-link {
    text-decoration: none;
    color: #6c567b;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin: 1000px 0; }
